
html, body {
  height: 100%;
}

/* .img-container {
  /* display: flex; */
  /* position: absolute; */
  /* background-image: url('../../../images/aboutpage.jpg'); */
  /* background-size: cover; */
  /* height: 90vh; */
  /* height: auto; */
  /* width: inherit; */
/* } */ 

/* .sun-img {
  position: absolute;
  z-index: 0;
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  /* margin-bottom: 30px;  */
  /* margin-right: 30%; */
  /* width: 2500px; */
  /* height: 100%; */
  /* height: auto;
  width: 150%; */
/* }  */ 



.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  /* border: solid grey; */
  /* z-index: 1; */
  /* position: absolute;  */
  /* height: 100vh; */
  /* width: 80px; */
  /* height: inherit; */
  /* margin-top: 10px; */
  /* margin-left: 45%; */

}

.grad-img {
  display: flex;
  align-items: center;
  position: absolute;
}

/* .about-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* height: inherit; */
  /* position: relative; */
  /* height: 90vh; */
  /* border-spacing: 50px; */
  /* border: solid grey; */
/* } */ 

.about-title {
  display: flex;
  position: relative;
  z-index: 1;
  /* justify-content: right; */
  align-items: center;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  /* margin-left: 100%; */
  /* margin-right: -120%; */
  /* margin-top: -75%; */
  /* margin-top: -30%; */
  /* margin-bottom: 25px; */
  padding: 10px;
  border: solid white;

}

.about-paragraph {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
  /* z-index: 1; */
  color: white;
} 