@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(221,177,208,1) 21%, rgba(171,184,225,1) 75%, rgba(148,187,233,1) 98%); */
  background-color: black;
  height: 100%;
  font-weight: 800;
}

/* body {
  font-family: Arial;
} */

.title {
display: flex;
font-family: Arial;
/* justify-content: space-between;  */

}

svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 1400px;
  height: 400px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #4D163D;
/* stroke: #ba2690; */
animation-delay: -1;
}

.text-copy:nth-child(2){
/* stroke: #840037; */
stroke: #659ecc;
animation-delay: -2s;
}

.text-copy:nth-child(3){
/* stroke: #BD0034; */
stroke: #8ddcaf;
animation-delay: -3s;
}

.text-copy:nth-child(4){
/* stroke: #BD0034; */
stroke: #0048bd;
animation-delay: -4s;
}

.text-copy:nth-child(5){
/* stroke: #FDB731; */
stroke: #ffeac3;
animation-delay: -5s;
}

/* addition begins here  */
.text-copy:nth-child(6){
  stroke: #3150fd;
  animation-delay: -6s;
}

.text-copy:nth-child(7){
    stroke: #b8eee4;
    animation-delay: -7s;
} 


/* original */
@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}








.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh;
  width: 90vw;  */
} 












/* .home-title {
  display: flex;
  justify-content: center;
  position:absolute;
  margin-bottom: 10%;
  /* top: 0.2px; */
  
  /* text-align: center; */
  /* align-items: center; */
  /* position: relative; */
  /* margin-top: 150px; */
  /* align-items: center; */
  /* font-size: 40px; */
  /* color: black; */
  /* height: 90vh */
/* } */ 

/* .home-slogan {
display: flex;
position: relative;
/* justify-content: center; */
/* position: absolute; */
/* text-align: center; */
/* align-items: center; */
/* } */ 

/* #grad { */
/* 
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(221,177,208,1) 21%, rgba(171,184,225,1) 75%, rgba(148,187,233,1) 98%);
} */
