.cards {
  padding: 4rem
}

.studio-title {
  text-align: center;
}

.studio-card-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.card-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.card-items {
  margin: 24px;
  list-style: none;
}

/* Card Item */

/* .cards-item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
} */

/* .pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;

} */


/* .card-link {
  display: flex;
  flex-flow: column;
  width: 100%; */
  /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  /* border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background-color: grey;
  transform: scale(0.2);
}  */

/* img {
  display: flex;
  transform: scale(0.6);
} */

/* .studio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
} */