.nav {
  background-color: rgb(156, 148, 148);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.nav-list {
  display: flex;
  margin-left: 150%;
}

.nav-items {
  list-style: none;
  height: 80px;
}
.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  height: 100%;
}






/* .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90px; */
  /* flex-direction: row; */
  /* max-width: 1000px; */
/* } */ 

/* .nav-list {
  flex-direction: inherit;
} */


/* .nav-items {
  text-decoration: none;
  list-style: none;

}

.nav-links {
  color: black;
  /* height: 100%; */
  /* padding: 0.5rem 1rem; */
  /* text-decoration: none; */
  /* gap: 1rem; */

/* } */ 