.nav {
  background: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90px; */
  /* flex-direction: row; */
  /* max-width: 1000px; */
}

/* .nav-list {
  flex-direction: inherit;
} */


.nav-items {
  text-decoration: none;
  list-style: none;

}

.nav-links {
  color: black;
  /* height: 100%; */
  /* padding: 0.5rem 1rem; */
  text-decoration: none;
  /* gap: 1rem; */

}